{% extends "myapp/base.html" %}
{% block title %}
    About
{% endblock %}
{% block urlblock %}
<li><a href={% url 'index' %}>Home</a></li>
<li><a href={% url 'top' %}>Top</a></li>
<li class="active"><a href={% url 'about' %}>About</a></li>
<li><a href={% url 'contact' %}>Contact</a></li>
<li><a href={% url 'categories'%}>All categories</a></li>
<li><a href={% url 'mycategories'%}>My categories</a></li>
<li><a href={% url 'advanced_search'%}>Advanced search</a></li>
{% endblock %}
{% block content %}
<p>Welcome to minireddit! This site enables users to share links and vote and comment on them!</p>


{% endblock %}
