{% extends "myapp/base.html" %}
{% block title %}
    Create new article
{% endblock %}
{% block urlblock %}
    <li><a href={% url 'index' %}>Home</a></li>
    <li><a href={% url 'top' %}>Top</a></li>
    <li><a href={% url 'about' %}>About</a></li>
    <li><a href={% url 'contact' %}>Contact</a></li>
    <li><a href={% url 'categories'%}>All categories</a></li>
    <li><a href={% url 'mycategories'%}>My categories</a></li>
    <li><a href={% url 'advanced_search'%}>Advanced search</a></li>
{% endblock %}
{% block content %}
    {% if created %}
        <p>Successfully added new article. You can view it now in categories.</p>
    {% else %}
        <form action="" name="article_form" id="article_form" method="post" class="form-horizontal">
            {% if alreadycreated %}
                <p>Article already created or wrong input!</p>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="name">New Article</label>
                <div class="input-group">
                    <p>Short description of link to the Article.</p>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Description">
                    <p>Link to the article.</p>
                    <input type="text" class="form-control" id="article_url" name="article_url" placeholder="Article url">
                    <p>Choose the category from available below.</p>
                    <select type="text" class="form-control" id="category_name" name="category_name">
                        {% for category in category_list %}
                        <option value={{category}}>{{category}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-block">Create!</button>
                </div>
            </div>
            
            
        </form>
    {% endif %}

{% endblock %}
